.toptitle {
	text-align: center;
	color: #54b9f5;
	font-family: serif;
	background-color:#e3f5ff;
	border-radius: 50px 50px 10px 10px;
}
.toptitle1 {
	display:inline-block;
	text-align: center;
	margin:1% 10%;
	color: #54b9f5;
	font-family: serif;
	background-color:#e3f5ff;
	border-radius: 50px 50px 10px 10px;
	width: 80%;

}
#title{
	display:inline-block;
	font-size: 35px;
	width:70%;
	color: white;
  	background: linear-gradient(90deg, #54b9f5, #fff);
	font-family: serif;
}
.login{
	text-align: right;
	display:inline-block;
	position:absolute;
  	right:0;
}
a{
	display:inline-block;
	transition: all .2s linear;
	color:black;
	box-shadow: 2px 2px 2px #54b9f5;
	text-decoration: none;
	background-color: #ffffff;
    margin: 10px 10px 10px 10px;
    border: 1px solid #b1d3eb;
    border-radius: 5px;
    padding: 5px;
	font-family: serif;
}
.menubox:hover,
.menubox1:hover,
.linkhover:hover{
	transition: all .2s linear;
	box-shadow: 2px 2px 2px #ccc;
	text-decoration: none;
	background: linear-gradient(135deg, #54b9f5, #fff);
}

.branchside{
	    border-radius: 50px;
}
.fontsize3{
	display:inline-block;
	color:black;
	box-shadow: 2px 2px 2px #c0c0c0;
	text-decoration: none;
	background-color: #ffffff;
    margin: 10px 10px 10px 10px;
    border: 1px solid #400080;
    border-radius: 5px;
    padding: 5px;
    font-family: serif;
}

.menubox{
	display:inline-block;
	padding: 7% 17%;
	font-size: 1.7em;

	font-family: serif;

}
.menubox1{
	display:inline-block;
	padding: 7% 13%;
	font-size: 1.7em;

	font-family: serif;

}
.iti{
	text-align:center;
}
.fontsize1{
  font-size: 1.2em;
}
.fontsize2{
  font-size: 1.5em;
  	font-family: sun-serif;
}

 .all {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .body {
    width: 80%;
    height: 100%;
  }

  .sidebar {
    width: 20%;
    height: 100%;

  }
footer {
	text-align: center;
	background:linear-gradient(#eee, #fff);

}

  .line{
    display: inline;
    padding: 10px;
  }

  .border{
    border: 1px solid #54b9f5;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
  }
  .col-4 {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
	padding: 5px;
}
.col-4 select {
	width: 15%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.col-4 select::-ms-expand {
    display: none;
}
.col-4.col4-1{
	position:relative;
	border-radius: 2px;
	border: 1px solid #54b9f5;
  	border-radius: 10px;
	background: #ffffff;
}
.col-4.col4-1::before {	/*▽*/
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #54b9f5;
	pointer-events: none;
}
.col-4.col4-1 select {
	padding: 8px 38px 8px 8px;
	color: #54b9f5;
}


.form-check-label {
  display: inline;
  align-items: center;
  cursor: pointer;
  width: 10em;
  height:3em;
}
.fore-check-input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.fore-check-input:checked + .ECM_CheckboxInput-DummyInput {
  background: rgba(107, 26, 250, 1);
}
.fore-check-input:checked + .ECM_CheckboxInput-DummyInput::before {
  content: "";
  display: inline;
  position: absolute;
  top: 30%;
  left: 65%;
  width: 50%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.fore-check-input:checked + .ECM_CheckboxInput-DummyInput::after {
  content: "";
  display: inline;
  position: absolute;
  top: 30%;
  left: 70%;
  width:85%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.ECM_CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 2px transparent;
  background: rgba(0, 0, 0, .15);
  border-radius: 25%;
  transition: all .15s linear;
  vertical-align: middle;

}
.ECM_CheckboxInput-LabelText {
  margin-left: 12px;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

table{

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

.table2{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

table tr{
  cursor: pointer;

}

table th{
	font-family: sans-serif;
  background-color: #e3f5ff;
  position:sticky;
  top:0;

}
table td{
	font-family: sans-serif;
	border-top:solid 1px #ccc
}

table th,table td{
  text-align: center;
  width: 10%;
  padding: 15px 0;
}

.btn{
	border: 1px solid #54b9f5;
 	border-radius: 2vh;
	background: #fff;
	width: 5em;
	height:2.5em;
	transition: all .30s linear;
	font-family: sans-serif;
	font-size:0.8em;
	display:inline-block;
}

.btn:hover {
	transition: all .20s linear;
  color: #fff;
  background: #54b9f5;
}

.btnl{
	border: 1px solid #54b9f5;
 	border-radius: 2vh;
	background: #fff;
	width:5.5em;
	height:2.8em;
	transition: all .30s linear;
	font-family: sans-serif;
	display:inline-block;
	font-size:0.8em;
}

.btnl:hover {
	transition: all .20s linear;
  color: #fff;
  background: #54b9f5;
}

.pos1 {
	position:relative;
	transform: scale(1.3, 1.3);



}
.pos {
	position:relative;
	transform: scale(1.3, 1.3);
	left:25%;

}
.login_page,.error{
	text-align:center;
	font-family: serif;
	border: 1px solid #b1d3eb;
    border-radius: 5px;
    width:70%;
    height:60%;
    margin-left:auto;
  	margin-right:auto;
  	margin-top:5%;
  	margin-bottom:auto;
}
.mincho{
	display:inline-block;
	font-family: serif;
}
.ef{
	font-family: serif;
	border-radius: 50px;
	border-color:#54b9f5;
}

.ef:focus{
	outline: none;

}
.puru{
	border:solid 2px #54b9f5;
	padding:1% 3%;
	border-radius: 25px;
	font-size:1em;
	font-family: serif;
}
.puru:focus{
	border:solid 2px #54b9f5;
	padding:1% 3%;
	border-radius: 25px;
	font-size:1em;
	outline: none;
}